@tailwind base;
@tailwind components;
@tailwind utilities;

.underline_container {
  border-bottom: 1px solid #ccc;
}

.icon_checked svg {
  color: rgb(0, 128, 0);
}

.actived {
  cursor: pointer;
  border: 2px solid rgb(33, 150, 243);
}
